/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #3E54AC;
    --secondery-color: #d35400;
    --light-bg: #ECF2FF;
    --light-color: #ecf0f1;
    --green: #27ae60;
    --orange: #e67e22;
    --red: #e74c3c;
    --white: #ffffff;
    --box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

* {
    margin:0;padding:0;
    border: none;
    outline:none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: var(--light-bg);
    margin-left: 30rem;
}

.add-btn {
    background-color: var(--green) !important;
    color: var(--white);
    border:none !important;
}

.delete-btn {
    background-color: var(--red) !important;
    color: var(--white);
    border:none !important;

}


header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 5rem;
}

header p {
    font-size: 20px;
}





aside {
    background-color: #252529;
    width: 25rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
}

aside .profile {
    text-align: center;
}

aside .profile img {
    width: 120px;
    height: 120px;
    clip-path: circle(50% at 50% 50%);
}

aside .menu a {
    color: var(--white);
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

aside .menu a:hover {
    color: var(--main-color);
}

/* main */

main table .tasks-list-title {
    font-size: 18px;
    font-weight: 600;
}

table .today tr:not(:first-child) i{
    color: var(--green);
}

table .today tr td:nth-child(2) span {
    background-color: var(--green);
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
}

table .today tr td:nth-child(3) span {
    background-color: var(--green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
}

table .tomorrow tr:not(:first-child) i{
    color: var(--main-color);
}

table .tomorrow tr td:nth-child(2) span {
    background-color: var(--main-color);
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
}

table .tomorrow tr td:nth-child(3) span {
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
}

/* Add task page */

.create-task {
    margin-top: 50px;
    max-width: 600px;
}

/* task info */

.tasks-info {
    margin-top: 50px;
}

.tasks-info .table-heading {
    font-weight: 600;
}


.tasks-info .incomplete-tasks tr i{
    color: var(--main-color);
}

.tasks-info .incomplete-tasks tr td:nth-child(2) span {
    background-color: var(--main-color);
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
}

.tasks-info .incomplete-tasks tr td:nth-child(3) span {
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
}

.tasks-info .complete-tasks tr i{
    color: var(--green);
}

.tasks-info .complete-tasks tr td:nth-child(2) span {
    background-color: var(--green);
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
}

.tasks-info .complete-tasks tr td:nth-child(3) span {
    background-color: var(--green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
}

.tasks-info tr td:nth-child(5) a {
    margin: 0 2px;
}

.tasks-info .complete-btn {
    background-color: var(--green);
    padding: 2px 16px;
    color: var(--white);
    border-radius: 20px;
}

.tasks-info .incomplete-btn {
    background-color: var(--secondery-color);
    padding: 2px 16px;
    color: var(--white);
    border-radius: 20px;
}


.tasks-info .edit-btn {
    background-color: var(--orange);
    padding: 2px 16px;
    color: var(--white);
    border-radius: 20px;
}

.tasks-info .delete-btn {
    background-color: var(--red);
    padding: 2px 16px;
    color: var(--white);
    border-radius: 20px;
}


/* keep notes */

.keep-notes {
    margin-top: 50px;
    max-width: 600px;
}