/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #3E54AC;
    --secondery-color: #d35400;
    --light-bg: #ECF2FF;
    --light-color: #ecf0f1;
    --green: #27ae60;
    --orange: #e67e22;
    --red: #e74c3c;
    --white: #ffffff;
    --box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

* {
    margin:0;padding:0;
    border: none;
    outline:none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: var(--light-bg);
}

.container {
    max-width: 1100px;
}

header {
    text-align: center;
    margin: 3rem auto;
}

header h2 {
    color: var(--main-color);
    font-weight: 600;
}

.btn {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1rem 2.4rem;
    border-radius: .5rem;
    margin: 0 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--secondery-color);
    color: var(--white);
}

.login-box {
    max-width: 700px;
    height: auto;
    margin: 50px auto;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: var(--box-shadow);

}

.login-box h2 {
    text-align: center;
}

.login-box .login-btn {
    background-color: var(--main-color);
    margin: 20px 0;
}

